@import '~sass/variables';
@import '~sass/mixins';

.list-container {
  @extend %container-wrap;
}

.list-container {
  position: relative;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  // height: 70px;
  grid-spacing: 1rem;
  justify-content: center;
  align-content: center;
  grid-template-areas: "avatar item";
  margin-top: 1rem;

  &:first-of-type {
    margin-top: 0;
  }

  &:after,
  &::after {
    content: '';
    background-color: #d5d5d5;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    grid-column: 1;
  }

  &.active {
    background-color: $listItemBgActive;
  }

  .avatar,
  .username {
    align-self: center;
  }

  .username {
    position: relative;

    &:after,
    &::after {
      background-color: #eeeeee;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  .metadata {
    position: absolute;
    top: -0.5rem;
    right: 1rem;
    font-size: 0.8rem;
    background-color: orange;
  }

  .avatar {
    grid-area: avatar;
  }

  .list-item {
    grid-area: item;
  }
}
