<ng-container *ngIf="addresses else loading">
  <div class="app-container">
    <div class="wallet--review wallet--review--adresses">

      <div class="address app-card" *ngFor="let address of wallet.addresses">
        <dl>
          <dt class="balance">{{address.balance}}</dt>
          <dd class="label">{{address.label}}</dd>
        </dl>
        <input class="address--public disabled" [(ngModel)]="address.publicKey" disabled />
      </div>

    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="view-loading">Loading...</div>
</ng-template>
