<div class="edit-contact-wrapper" *ngIf="contact else loading">
  <h2>{{contact?.name}}</h2>
  <p>{{contact?.id}}</p>

  <div class="input-wrap">
    <label>Contact Name:
      <input [(ngModel)]="contact.name" placeholder="name">
    </label>
  </div>

  <div class="input-wrap">
    <label>Contact Email:
      <input [(ngModel)]="contact.email" placeholder="email">
    </label>
  </div>

  <p>
    <button
      class="button"
      (click)="onSave(contact)">Save</button>

    <button
      class="button danger"
      (click)="onDelete(contact)">Delete</button>
  </p>
</div>

<ng-template #loading>
  <div class="view-loading">Loading...</div>
</ng-template>
