<div class="app-container edit-contact-wrapper" *ngIf="contact else loading">

  <div class="avatar bubble bubble-lg">
    {{contact.name | avatarName | uppercase}}
  </div>

  <div class="edit-contact">
    <div class="input-wrap input-plain">
      <label>Name</label>
      <input [(ngModel)]="contact.name" placeholder="name">
    </div>

    <div class="input-wrap input-plain disabled">
      <label>ID</label>
      <input class="disabled" placeholder="Contact ID" value="{{contact.id}}" />
    </div>

    <div class="actions">
      <button (click)="onSave(contact)" type="button" class="app-btn btn-inverse btn-brand">
        <span class="copy">Save</span>
      </button>

      <button (click)="onDelete(contact)" type="button" class="app-btn btn-inverse btn-danger">
        <span class="copy">Delete</span>
      </button>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="view-loading">Loading...</div>
</ng-template>
