@import '~sass/variables';

:host {
  overflow-y: scroll;
  overflow-x: hidden;

  position: relative;
}

.new-contact {
  position: fixed;
  bottom: 5%;
  right: 5%;

  transform: translate3d(0, 0, 0);

  a {
    color: #ffffff;
    font-size: 2rem;
    line-height: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: $brandColor;
    display: block;
    text-align: center;
    line-height: 44px;

    display: flex;
    align-items: center;
    justify-content: center;

    i {
      margin-top: -4px;
    }
  }
}

@keyframes show-add-contact-bubble {
  0% {
    transform: translate3d(0, 80px, 0)
  }
  100% {
    transform: translate3d(0, 0, 0)
  }
}

@supports (animation: show-add-contact-bubble) or (-webkit-animation: show-add-contact-bubble) {
  .new-contact {
    transform: translate3d(0, 80px, 0);
    animation: 650ms show-add-contact-bubble forwards cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s
  }
}

.list-container {

  &:after,
  &::after {
    grid-column: 2/-1;
  }

  .username {
    color: inherit;
    font-size: 1.2rem;
  }

  .metadata {
    display: none;
  }

  .avatar {
    perspective: 1000px;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;


    .front,
    .back {
      backface-visibility: hidden;
      position: absolute;
    }

    .front {
      z-index: 2;
      /* for firefox 31 */
      transform: rotateY(0deg);
    }

    .back {
      transform: rotateY(180deg);
    }
  }

  &.active {
    .avatar {
      transform: rotateY(180deg);
    }
  }
}
