<ng-container *ngIf="contacts else loading">
  <div class="list-container"
       *ngFor="let contact of contacts"
       [class.active]="contact === selectedContact">

    <div class="avatar bubble"
         (click)="onSelect(contact)">
      <div class="front">{{contact.name | avatarName | uppercase}}</div>
      <div class="back"><i class="icon-fire"></i></div>
    </div>
    <a class="username list-item" [routerLink]="['./view', contact.id]">
      <span>{{contact.name}}</span>
    </a>
    <div class="metadata">x:xx pm</div>
  </div>

  <div class="new-contact">
    <a class="u-shadow-200" [routerLink]="['./new']">
      <i class="icon-user-follow"></i>
    </a>
  </div>
</ng-container>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
