.form-input {
  margin-bottom: 1rem;

  textarea, input, select, button { outline: none; }

  &.has-error {
    select {
      border-color: $red;
      color: $red;
    }

    input {
      border-color: $red;
      color: $red;
    }

    textarea {
      border-color: $red;
      color: $red;
    }
  }

  &.required-input {
    label {
      position: relative;

      &:after {
        content: '*';
        color: $red;
        margin-left: 0.5rem;
      }
    }
  }

  .validation {
    color: #333333;
    background-color: #eeeeee;
    margin-top: 0.5rem;
    padding: 0.5rem;

    &.validation-error {
      background-color: $red;
      color: #ffffff;
    }
  }
}

.input-wrap {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;

  label {
    display: block;
  }

  input {
    padding: 5px 10px;
    border-radius: 0.25em;
    border: 1px solid #c3c3c3;
    box-shadow: -1px 1px 3px #c3c3c3 inset;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 100%;
  }
}

.input-plain {
  label {
    color: #cccccc;
    font-size: 0.9rem;
    margin-bottom: 0;
  }

  input {
    background-color: transparent;
    border-width: 0 0 1px 0;
    box-shadow: none;
    border-radius: 0;
    color: #dddddd;
    padding-left: 0;
    border-color: #666666;

    transition: all 150ms ease-in-out;

    &:focus,
    &:active {
      color: #eeeeee;
      border-color: #999999;
    }

    &.disabled,
    &[disabled] {
      border: none;

      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.textarea-wrap {
  display: inline-block;
  position: relative;
  width: 100%;

  textarea {
    padding: 5px 10px;
    border-radius: 0.25em;
    border: 1px solid #c3c3c3;
    box-shadow: -1px 1px 3px #c3c3c3 inset;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 100%;
  }
}

.select-wrap {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;

  select {
    text-transform: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: #444444;
    font: inherit;
    margin: 0;
    outline: 0 !important;
    zoom: 1;

    padding: 5px 10px;
    width: 100%;
    border-radius: 0.25em;
    border: 1px solid #c3c3c3;
    background-color: #ffffff;
    box-shadow: -1px 1px 3px #c3c3c3 inset;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      border-color: #3c87a2;
    }
  }

  &:after {
    position: absolute;
    height: 100%;
    top: 50%;
    margin-top: -0.5em;
    right: 0.5em;
    content: '\25BC';
    line-height: 100%;
    pointer-events: none;
    color: #666666;
  }
}

button.submit:not([disabled]) {
  position: relative;

  &:before,
  &::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(0.001, 0.001);
  }

  &:focus,
  &:active {
    &:before,
    &::before {
      animation: animButtonPress 0.8s ease-out;
    }
  }
}

button.app-btn,
button.submit {
  display: block;
  position: relative;
  padding: 0;
  margin: 0 auto;
  width: 182px;
  height: 47px;
  border: 2px solid #dddddd;
  border-radius: 0.25em;
  background-color: #dddddd;
  transition: all 350ms ease-out 175ms;
  overflow: hidden;
  z-index: 3;
  color: #333333;

  .copy {
    color: #333333;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 182px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    position: absolute;
    transition: top 150ms ease-in-out 360ms;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.btn-brand {
    background-color: $brandColor;
    color: #394d48;

    .copy {
      color: #394d48;
    }
  }

  &.btn-danger {
    background-color: $red;
    color: #ffffff;

    .copy {
      color: #ffffff;
    }
  }

  &.btn-inverse {
    background-color: transparent;
    position: relative;

    &:before {
      content: '';
      width: 0;
      height: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      transition: all 150ms linear;
    }

    &:hover,
    &:active,
    &:focus {
      cursor: pointer;

      &:before {
        width: 100%;
      }
    }

    &.btn-brand {
      border-color: $brandColor;
      color: #ffffff;

      &:hover,
      &:active,
      &:focus {
        &:before {
          background-color: $brandColor;
        }
      }

      .copy {
        color: #ffffff;
      }
    }

    &.btn-danger{
      border-color: $red;

      &:hover,
      &:active,
      &:focus {
        &:before {
          background-color: $red;
        }
      }
    }
  }

  &.btn-push-right {
    display: block;
    margin-left: auto;
    margin-right: 1rem;
  }

  &.btn-icon-link {
    padding-right: 15px;
    position: relative;

    &:after,
    &::after {
      @extend %simple-line-icon;
      content: "\E05A";
      position: absolute;
      right: 15px;
    }
  }
}

.form-actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;

  button.app-btn,
  button.submit {
    width: 100%;

    .copy {
      width: 100%;
    }
  }
}
