<div class="app-container add-contact-wrapper">

  <div class="avatar bubble bubble-lg">{{contactForm.controls['name'].value | avatarName | uppercase}}</div>

  <div class="add-contact">

    <form [formGroup]="contactForm"
          (ngSubmit)="onSave(contactForm.getRawValue())">

      <div class="form-input required-input"
           [ngClass]="{'has-error':!contactForm.controls['name'].valid && contactForm.controls['name'].touched}">
        <label for="type">Name</label>
        <div class="input-wrap">
          <input type="text"
                 class="form-control"
                 name="name"
                 id="name"
                 placeholder="" [formControl]="contactForm.controls['name']">
        </div>
        <div class="validation validation-error" *ngIf="!contactForm.controls['name'].valid && contactForm.controls['name'].touched">You must enter a name!</div>
      </div>

      <div class="form-actions">
        <button type="submit" class="app-btn btn-inverse btn-brand" [disabled]="!contactForm.valid">
          <span class="copy">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
