<div class="app-container add-contact-wrapper">

  <div class="avatar bubble bubble-lg">
    {{contact.name | avatarName | uppercase}}
  </div>

  <div class="add-contact">
    <div class="input-wrap input-plain">
      <label>Name</label>
      <input [(ngModel)]="contact.name" placeholder="">
    </div>

    <div class="actions">
      <button (click)="onSave(contact)" type="button" class="app-btn btn-inverse btn-brand">
        <span class="copy">Save</span>
      </button>
    </div>
  </div>
</div>
