<ng-container *ngIf="transactions else loading">
  <div class="app-container">
    <div class="wallet--review wallet--review--adresses">
      <div class="address app-card" *ngFor="let transaction of wallet.transactions">
        <dl>
          <dt class="balance">{{transaction.amount}}</dt>
          <dd class="label">{{transaction.toPublicKey}}</dd>
        </dl>
        <input class="address--public disabled" [(ngModel)]="transaction.txid" disabled />
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
