<div class="app-inner"
     [class.drawer-open]="menuActive === true"
     [class.action-menu-open]="actionMenuActive === true"
     [class.modal-active]="modalActiveState === true">

  <!-- App Drawer -->
  <div class="app-nav-wrapper flex-scroll">
    <div class="scroll-wrap">
      <div class="app-nav scroller">
        <div class="bubble">Me</div>
        <a class="app" [routerLink]="['/messenger']">
          <i class="icon-speech"></i>
        </a>
        <a class="app" [routerLink]="['/wallet']">
          <i class="icon-wallet"></i>
        </a>
        <a class="app" [routerLink]="['/feedback']">
          <i class="icon-bulb"></i>
        </a>
        <div class="app empty">
          <i class="icon-plus"></i>
        </div>
      </div>
    </div>
  </div>

  <div style="display:none" class="menu-wrapper flex-scroll">
    <div class="scroll-wrap">
      <div class="menu scroller">
        <header>Menu Name</header>
        <div class="list">
          <p>Some Friend Namedwdwdwdwdwdwdwdwdwdw</p>
          <p>Some Friend Name</p>
          <p>Some Friend Name</p>
          <p>Some Friend Name</p>
          <p>Some Friend Name</p>
          <p>Some Friend Name</p>
          <p>Some Friend Name</p>
          <p>Some Friend Name</p>
          <p>Some Friend Name</p>
          <p>Some Friend Name</p>
          <p>Some Friend Name</p>
          <p>Some Friend Name</p>
          <p>Some Friend Name</p>
          <p>Some Friend Name</p>
          <p>Some Friend Name</p>
          <p>Some Friend Name</p>
          <p>Some Friend Name</p>
          <p>Some Friend Name</p>
          <p>Some Friend Name</p>
          <p>Some Friend Name</p>
          <p>Some Friend Name</p>
          <p>Some Friend Name</p>
          <p>Some Friend Name</p>
          <p>Some Friend Name</p>
          <p>Some Friend Name</p>
          <p>Some Friend Name</p>
          <p>Some Friend Name</p>
          <p>Some Friend Name</p>
          <p>Some Friend Name</p>
          <p>Some Friend Name</p>
        </div>
      </div>
    </div>
  </div>

  <!-- App View -->
  <div class="app-view" [class.open]="menuActive === true">
    <header class="header">

      <ng-container [ngSwitch]="showBackAction">
        <ng-template [ngSwitchCase]="true">
          <button class="menu-btn"
                  (click)="goBackAction()">
            <i class="icon-arrow-left"></i>
          </button>
        </ng-template>
        <ng-template ngSwitchDefault>
          <div class="menu-btn line-menu--wrap" (click)="toggleMenu()">
            <span class="line-menu half start"></span>
            <span class="line-menu"></span>
            <span class="line-menu half end"></span>
          </div>
        </ng-template>
      </ng-container>

      <!-- PR⍉JℇC₸ RɅᐯ3N-->
      <h1 class="brand">{{title}}</h1>

      <ng-container *ngIf="actionMenu.length > 0">
        <div class="action-btn"
             (click)="toggleActionMenu()">
          <i class="icon-options-vertical"></i>
        </div>
      </ng-container>

      <div class="action-menu">
        <ul>
          <li *ngFor="let action of actionMenu">
            <a [routerLink]="[action.link]">{{action.label}}</a>
          </li>
        </ul>
      </div>
    </header>

    <div class="svgx">
      <svg width="18" height="18" class="button-2ZR58H open-3KjR1l">
        <g fill="none" fill-rule="evenodd">
          <path d="M0 0h18v18H0"></path>
          <path class="line" d="M4.5 4.5l9 9" stroke-linecap="round"></path>
          <path class="line" d="M13.5 4.5l-9 9" stroke-linecap="round"></path>
        </g>
      </svg>
    </div>

    <router-outlet></router-outlet>
  </div>

  <div class="modal-box" (click)="appModal.onModalClick()">
    <div class="modal-inner u-shadow-400">
      <div class="app-container">
        <header>
          <h3>{{modalConfig.title}}</h3>
          <p>{{modalConfig.type}}</p>
        </header>
        <section [ngSwitch]="modalConfig.type">
          <p>{{modalConfig.body}}</p>

          <div *ngSwitchCase="'confirm'">
            <button (click)="appModal.onConfirmAction(true)">Yes</button>
            <button (click)="appModal.onConfirmAction(false)">No</button>
          </div>
          <div *ngSwitchCase="'notice'">
            <button (click)="appModal.onConfirmAction(true)">Ok</button>
          </div>
          <div *ngSwitchDefault>
            <!-- Missing -->
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- Blocker -->
  <div class="blocker"
       (click)="toggleMenu(menuActive)"></div>
</div>
